/* style.css */
body {
    background-color: #0b1a2d !important;  /* Azul marino oscuro */
    color: #ffa500 !important;             /* Naranja elegante */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffa500 !important;
    font-weight: bold !important;
}

p {
    color: #ffa500 !important;
    font-weight: bold !important;
}

.stApp {
    background-color: #0b1a2d !important;
}

[data-testid="stSidebar"] {
    background-color: #08101f !important;
    color: #ffa500 !important;
}

.st-key-analizar button p {
    color: #1a27e0 !important;

}

.st-key-entrenar button p {
    color: #1a27e0 !important;

}

.st-key-download button p {
    color: #1a27e0 !important;

}

.st-key-uno button p {
    color: #1a27e0 !important;

}

.st-key-dos button p {
    color: #1a27e0 !important;

}

.st-key-tres button p {
    color: #1a27e0 !important;

}

.st-key-cuatro button p {
    color: #1a27e0 !important;

}

.st-key-cinco button p {
    color: #1a27e0 !important;

}
.st-key-seis button p {
    color: #1a27e0 !important;

}

button, .stButton>button {
    background-color: #ffa500 !important;
    color: #0b1a2d !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 0.5em 1em !important;
    transition: 0.3s !important;
}




button:hover {
    background-color: #ffb733 !important;
    color: #000000 !important;
}

input, select {
    background-color: #1b2c47 !important;
    color: #ffa500 !important;
    border: 1px solid #ffa500 !important;
    border-radius: 6px !important;
}
